.common_section {
  background: linear-gradient(rgb(0, 0, 0, 0.562), rgb(0, 0, 0, 0.562)),
  url("../assets/images/slidecard.jpeg") no-repeat center center;
  background-size: cover;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common_section h1 {
  color: #fff;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .common_section {
    padding: 70px 0px;
  }
  .common_section h1 {
    font: size 1.4re;
  }
}
