.auth_form{
    background:var(--primary-color);
    padding: 40px;
    border-radius: 5px;

}
.auth_btn{
    background: #fff !important;
    color: var(--primary-color);
    font-weight: 600;
}

.auth_btn p a{
    color: #fff;
}

.auth_form input[type= 'file']{
    color: #fff;
    cursor: pointer;
}